{% extends "layout.html" %}
{% block body %}
    <div class="m-auto max-width-1">
        <hr>
    </div>
    <div class="home-articles  max-width-1 m-auto">
        <h2>Search results for Django (0.03s)</h2>
        <div class="hm-article">
            <div class="article-img">
                <img src="{{url_for('static' ,filename='img/img2.jpg')}}" alt="1">
            </div>
            <div class="article-text">
                <a href="/blog.html"> <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quis!</h3></a>
                <span>Author name</span>
                <span>6 january |5hr read</span>
            </div>
        </div>
        <div class="hm-article">
            <div class="article-img">
                <img src="{{url_for('static' ,filename='img/img3.jpg')}}" alt="1">
            </div>
            <div class="article-text">
                <a href="/blog.html"> <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quis!</h3></a>
                <span>Author name</span>
                <span>6 january |5hr read</span>
            </div>
        </div>
        <div class="hm-article">
            <div class="article-img">
                <img src="{{url_for('static' ,filename='img/img4.jpg')}}" alt="1">
            </div>
            <div class="article-text">
                <a href="/blog.html"> <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quis!</h3></a>
                <span>Author name</span>
                <span>6 january |5hr read</span>
            </div>
        </div>
        <div class="hm-article">
            <div class="article-img">
                <img src="{{url_for('static' ,filename='img/img5.jpg')}}" alt="1">
            </div>
            <div class="article-text">
                <a href="/blog.html"> <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quis!</h3></a>
                <span>Author name</span>
                <span>6 january |5hr read</span>
            </div>
        </div>
        <div class="hm-article">
            <div class="article-img">
                <img src="{{url_for('static' ,filename='img/img6.jpg')}}" alt="1">
            </div>
            <div class="article-text">
                <a href="/blog.html"> <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quis!</h3></a>
                <span>Author name</span>
                <span>6 january |5hr read</span>
            </div>
        </div>
        <div class="hm-article">
            <div class="article-img">
                <img src="{{url_for('static' ,filename='img/img3.jpg')}}" alt="1">
            </div>
            <div class="article-text">
                <a href="/blog.html"> <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, quis!</h3></a>
                <span>Author name</span>
                <span>6 january |5hr read</span>
            </div>
        </div>
    </div>
{% endblock %}