{% extends "layout.html" %}
{% block body %}
<div class="content">
    <div class="con-left">
        <h2>You are logged in</h2>
        <p>Explore yourself with greatest ,biggest Blog platform </p>
    </div>
    <div class="con-right">
        <img src="{{url_for('static' ,filename='img/img1.jpg')}}" alt="">
    </div>
</div>
<div class="m-auto max-width-1">
    <hr>
</div>
<div class="container">
    <h1>Basic Actions</h1>
    <a href="/edit/0"><button class="btn btn-primary btn-sm">Add New Post </button></a>
    <a href="/logout"><button class="btn btn-primary btn-sm">Logout</button></a>
    <hr>
    <h1>Upload file here</h1>
    <form action="/uploader" method="post" enctype="multipart/form-data">
        <input type="file" id="myfile" name="file1" >
        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    </form>
    <h1>Edit Posts</h1>
    <table class="table" >
        <thead>
            <tr>
                <th>Sno</th>
                <th>Title</th>
                <th>Author</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{post.sno}}</td>
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td><a href="/edit/{{post.sno}}"><button class="btn btn-primary btn-sm"> Edit</button></a> </td>
                <td><a href="/delete/{{post.sno}}"><button class="btn btn-primary btn-sm">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}